<% @customers.each do |customer| %>
      <tr id="customer-<%= customer.id %>">
        <td><%= link_to customer.name, customer %></td>
        <td><%= customer.phone %></td>
        <td><%= customer.email %></td>
        <td><%= customer.created_at %></td>
<% end %>

<%= link_to 'Registrar Novo', new_customer_path  %>
