<h2>Cliente</h2>

<table class="ls-table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Telefone</th>
      <th>Data de Registro</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @customer.name %></td>
      <td><%= @customer.email %></td>
      <td><%= @customer.phone %></td>
      <td><%= @customer.created_at %></td>
    </tr>
  </tbody>
</table>
<%= link_to 'Editar', edit_customer_path %>
<%= link_to 'Apagar', customer_path(@customer), method: :delete,
data: { confirm: "Tem certeza de que deseja deletar #{@customer.name}?"} %>
<%= link_to 'Voltar', customers_path %>
