<%= form_with model: @contact, local: true do |f| %>
    <div class="form-row">
      <div class="form-group col-md-6">
        <%= f.label :name, 'Nome' %>
        <%= f.text_field :name, class:'form-control', placeholder: 'Nome do contato'  %>
      </div>
      <div class='form-group col-md-6'>
        <%= f.label :phone, 'Telefone' %>
        <%= f.text_field :phone, class:'form-control', placeholder: 'Telefone do contato'  %>
      </div>
    </div>
      <div class='form-group'>
        <%= f.label :email, 'E-mail' %>
        <%= f.text_field :email, class:'form-control', placeholder: 'E-mail do contato'  %>
      </div>

    <div>
      <div class='ls-actions-btn' >
          <%= f.submit 'Salvar', class: "btn btn-primary btn-sm" %>
          <%= link_to 'Cancelar', url_for(:back), class:"btn btn-secondary btn-sm" %>
      </div>
    </div>
<% end %>